/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height for horizontal scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0; /* Light gray background for the track */
    border-radius: 6px; /* Rounded corners for the track */
  }

  ::-webkit-scrollbar-thumb {
    background: #cccccc; /* Light gray for the thumb */
    border-radius: 6px; /* Rounded corners for the thumb */
    border: 3px solid transparent; /* Space around the thumb */
    border-color: transparent; /* Match the track */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #999999; /* Darker gray on hover */
  }

  ::-webkit-scrollbar-thumb:active {
    background: #777777; /* Even darker gray when active */
  }
}
